.App {
  font-family: sans-serif;
  text-align: center;
}

.testoutput {
  border: 1px solid black;
  width: 240px;
  min-height: 60px;
  overflow: hidden;
}

a {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
  float: left;
  width: 115px;
  background-color: beige;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
